body {
    margin: 0;
    background-color:#dbece9
  }
  
  header {
    background: #20dec3;
    height: 700px;
    padding: 100px;
    box-sizing: border-box;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;
  }
  
  section div {
    width: 23%;
    height: 300px;
    margin: 0 0 2.5vw;
    padding: 3%;
    box-sizing: border-box;
    background: #09c;
  }
  
  .sa {
    opacity: 0;
    transition: all .5s ease;
  }
  
  .sa.show {
    opacity: 1;
    transform: none;
  }
  
  .sa--lr {
    transform: translate(-100px, 0);
  }
  
  .sa--rl {
    transform: translate(100px, 0);
  }
  
  .sa--up {
    transform: translate(0, 100px);
  }
  
  .sa--down {
    transform: translate(0, -100px);
  }
  
  .sa--scaleUp {
    transform: scale(.5);
  }
  
  .sa--scaleDown {
    transform: scale(1.5);
  }
  
  .sa--rotateL {
    transform: rotate(180deg);
  }
  
  .sa--rotateR {
    transform: rotate(-180deg);
  }
  .btn-square-shadow {
    display: inline-block;
    position:absolute;
    top: 30px;
    right: 30px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }